<h2>Excluir Aula</h2>
<form novalidate name="FormularioAula" class="ui form" ng-submit="excluir(aulaExcluida)">
    <div class="field">
        <select name="aula" class="ui fluid dropdown" ng-model="aulaExcluida" style="width:200px">
            <option value="" selected>Selecionar...</option>
            <option ng-repeat="aula in aulas" ng-value="{{ aula }}">
                {{ aula.id }} - {{ aula.nome }} 
            </option>
         </select>
    </div>
    <input type="submit" class="ui button" value="Excluir">
</form>