html {
    height: 100vh;
}

body {
    height: 100%;
    background-color: rgb(237, 237, 237);
    overflow-y: scroll;
}

/*hr {
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color:#8F60A0;
    color:#8F60A0;
    border: 0 none;
}*/

h4 {
    text-align: center;
}

#nome, #cpf, #dataNascimento, #endereco {
    width: 500px;
    background-color:white;
}

#botao {
    width: 250px;
    height: 100px;
    font-size: 50px;
    position: relative;
    top: 80%;
    left: 40%;
}

.purpleHr {
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color:#8F60A0;
    color:#8F60A0;
    border: 0 none;
}

.bg { 
    /* The image used */
    background-image: url("images/background3.png");

    /* Full height */
    height: 30%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width:100px;
    transform: translate(0px, -40px);
}

.console {
    width: 200px;
    opacity: 0.5;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 1s;
}

.extra {
    width: 150px;
    opacity: 0.5;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 1s;
}

.fixed {
    position: relative;
    width: 230px;
    height: 200px;
    float: left;
    transition-duration: 1s;
    /*margin-left: 30px;*/
}

.console:hover {
    width: 230px;
    transition-duration: 1s;
}

.extra:hover {
    width: 180px;
    transition-duration: 1s;
}

.fixed:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color: #8F60A0;
    transition-duration: 1s;
}

.inputRadioImagem input[type="radio"] {
    visibility: hidden;
}

input[type="radio"]:checked + label .console {
    transition-duration: 1s;
    opacity: 1.0;
}

input[type="radio"]:checked + label .extra {
    transition-duration: 1s;
    opacity: 1.0;
}