
*.class

*.ctxt

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/bin/Debug/EditoraCrescer\.Infraestrutura\.pdb

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/bin/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/\.vs/EditoraCrescer/v14/\.suo

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/obj/Debug/EditoraCrescer\.Infraestrutura\.pdb

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescerApi/bin/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescerApi/obj/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/obj/Debug/
