
*.class

*.ctxt

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/bin/Debug/EditoraCrescer\.Infraestrutura\.pdb

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/bin/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/\.vs/EditoraCrescer/v14/\.suo

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/obj/Debug/EditoraCrescer\.Infraestrutura\.pdb

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescerApi/bin/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescerApi/obj/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/obj/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/\.vs/EditoraCrescer/v15/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Dominio/bin/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Dominio/obj/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/\.vs/config/

modulo06_dotnet/Aula_05/EditoraCrescer/ConsoleApp1/obj/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/bin/

modulo06_dotnet/Aula_05/EditoraCrescer/packages/EntityFramework\.6\.1\.3/tools/

modulo06_dotnet/Aula_05/EditoraCrescer/packages/Newtonsoft\.Json\.6\.0\.4/

modulo06_dotnet/Aula_05/EditoraCrescer/packages/
