
*.class

*.ctxt

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/bin/Debug/EditoraCrescer\.Infraestrutura\.pdb

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/bin/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/\.vs/EditoraCrescer/v14/\.suo

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/obj/Debug/EditoraCrescer\.Infraestrutura\.pdb

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescerApi/bin/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescerApi/obj/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/obj/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/\.vs/EditoraCrescer/v15/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Dominio/bin/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Dominio/obj/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/\.vs/config/

modulo06_dotnet/Aula_05/EditoraCrescer/ConsoleApp1/obj/Debug/

modulo06_dotnet/Aula_05/EditoraCrescer/EditoraCrescer\.Infraestrutura/bin/

modulo06_dotnet/Aula_05/EditoraCrescer/packages/EntityFramework\.6\.1\.3/tools/

modulo06_dotnet/Aula_05/EditoraCrescer/packages/Newtonsoft\.Json\.6\.0\.4/

modulo06_dotnet/Aula_05/EditoraCrescer/packages/

modulo06_dotnet/Aula_04/Demo1/Demo1\.Dominio/bin/

modulo06_dotnet/Aula_04/Demo1/Demo1\.Dominio/obj/

modulo06_dotnet/Aula_04/Demo1/Demo1\.Infraestrutura/bin/

modulo06_dotnet/Aula_04/Demo1/Demo1\.Infraestrutura/obj/

modulo06_dotnet/Aula_04/Demo1/Demo1\.WebApi/bin/

modulo06_dotnet/Aula_04/Demo1/Demo1\.WebApi/obj/

modulo06_dotnet/Aula_04/Demo1/\.vs/

modulo06_dotnet/Aula_04/Demo1/packages/

modulo06_dotnet/ProjetoFinal/backend/LocadoraCrescer/\.vs/

modulo06_dotnet/ProjetoFinal/backend/LocadoraCrescer/packages/

modulo06_dotnet/ProjetoFinal/backend/LocadoraCrescer/LocadoraCrescer\.Infraestrutura/obj/

modulo06_dotnet/ProjetoFinal/backend/LocadoraCrescer/LocadoraCrescer\.Infraestrutura/bin/

modulo06_dotnet/ProjetoFinal/backend/LocadoraCrescer/LocadoraCrescer\.Dominio/obj/

modulo06_dotnet/ProjetoFinal/backend/LocadoraCrescer/LocadoraCrescer\.Api/obj/

modulo06_dotnet/ProjetoFinal/backend/LocadoraCrescer/LocadoraCrescer\.Api/bin/

modulo06_dotnet/ProjetoFinal/backend/LocadoraCrescer/LocadoraCrescer\.Dominio/bin/
/modulo08_java/Aula_01/Aula01/target/
/modulo08_java/Aula_01/Aula01/nbproject/
/modulo08_java/Projetos/Aula02/target/