<h2>Aula - Editar</h2>
<hr>
<form novalidate name="FormularioAula" class="ui form" ng-submit="editar(aulaAtual)">
    <div class="field">
        <select name="nome" class="ui fluid dropdown" ng-model="aulaAtual.id" style="width:200px">
            <option value="" selected>Selecionar...</option>
            <option ng-repeat="aula in aulas" value="{{ aula.id }}">
                {{ aula.id }} - {{ aula.nome }} 
            </option>
        </select>
        <label for="name">Nome</label>
        <input type="text" name="nome" ng-model="aulaAtual.nome" style="width:500px" placeholder="Ex.: Matemática">
    </div>
    <input type="submit" class="ui button" value="Salvar">
</form>
<hr>