<h2>Aula - Editar</h2>
<hr>
<form novalidate name="FormularioAula" class="ui form" ng-submit="editar(aulaAtual)">
    <div class="field">
        <select name="nome" class="ui fluid dropdown" ng-model="aulaAtual.id" style="width:200px">
            <option value="" selected>Selecionar...</option>
            <option ng-repeat="aula in aulas" value="{{ aula.id }}">
                {{ aula.id }} - {{ aula.nome }} 
            </option>
        </select>
        <br>
        <label for="name">Nome</label>
        <input type="text" name="nome" ng-model="aulaAtual.nome" style="width:500px" placeholder="Ex.: Matemática">
    </div>
    <input type="submit" class="ui yellow button" value="Salvar">
</form>
<hr>

<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Nome</th>
    </thead>
    <tbody>
        <tr ng-repeat="aula in aulas | orderBy: 'nome'">
            <td>{{ aula.id }}</td>
            <td>{{ aula.nome }}</td>
        </tr>
    </tbody>
</table>
<hr>
