<h1>Instrutores Cadastrados</h1>

<hr>
<div>{{ instrutores }}</div>
<hr>

<div class="row" style="height:30px">
    <div class="col-md-1">ID</div>
    <div class="col-md-1">Nome</div>
    <div class="col-md-1">Sobrenome</div>
    <div class="col-md-1">Idade</div>
    <div class="col-md-2">Email</div>
    <div class="col-md-1">Dando Aula</div>
    <div class="col-md-1">Aulas</div>
</div>

<div class="row" ng-repeat="instrutor in instrutores" | orderBy: 'nome' style="height:30px">
    <div class="col-md-1">{{ instrutor.id }}</div>
    <div class="col-md-1">{{ instrutor.nome }}</div>
    <div class="col-md-1">{{ instrutor.sobrenome }}</div>
    <div class="col-md-1">{{ instrutor.idade }}</div>
    <div class="col-md-2">{{ instrutor.email }}</div>
    <div class="col-md-1">{{ instrutor.dandoAula }}</div>
    <div class="col-md-1">{{ instrutor.aula }}</div>
</div>