<h2>Editar Instrutor</h2>
<form novalidate name="AlterarFormInstrutor" class="ui form" ng-submit="editar(instrutorAtual)">
    <select name="nome" class="ui fluid dropdown" ng-model="instrutorAtual.id">
        <option value="" disable>Selecionar...</option>
        <option ng-repeat="instrutor in instrutores" value="{{ instrutor.id }}">
        {{ instrutor.id }} - {{ instrutor.nome }}
        </option>
    </select>

    <div class="field">
        <label for="nome">Nome</label>
        <input type="text" name="nome" ng-model="instrutorAtual.nome" style="width:500px" required ng-minlength="3" ng-maxlength="20">
        <div ng-show="AlterarFormInstrutor.nome.$error.required && FormAddInstrutor.nome.$touched">Campo obrigatório!</div>
        <div ng-show="AlterarFormInstrutor.nome.$error.minlength">Deve possuir no mínimo 3 caracteres!</div>
        <div ng-show="AlterarFormInstrutor.nome.$error.maxlength">Limite de 20 caracteres excedido!</div>
    </div>

    <div class="field">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" name="sobrenome" ng-model="instrutorAtual.sobrenome" style="width:500px" ng-maxlength="30">
        <div ng-show="AlterarFormInstrutor.sobrenome.$error.maxlength">Limite de 30 caracteres excedido!</div>
    </div>

    <div class="field">
        <label for="idade">Idade</label>
        <input type="number" name="idade" ng-model="instrutorAtual.idade" style="width:500px" required min="18" max="90">
        <div ng-show="AlterarFormInstrutor.idade.$error.min">Idade mínima de 18 anos!</div>
        <div ng-show="AlterarFormInstrutor.idade.$error.max">Idade máxima de 90 anos!</div>
    </div>

    <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" ng-model="instrutorAtual.email" style="width:500px" required type="email">
        <div ng-show="FormAddInstrutor.email.$error.email">Email inválido!</div>
    </div>

    <div class="field">
        <label for="dandoAula">Dando Aula</label>
        <input type="checkbox" name="dandoAula" ng-model="instrutorAtual.dandoAula">
    </div>

    <div class="field">
        <select multiple name="aula" class="ui fluid dropdown" ng-model="novoInstrutor.aula" style="width:200px">
            <option value="" disabled>Selecione as aulas</option>
            <option ng-repeat="aula in aulas" ng-value="{{ aula.id }}">
                {{ aula.nome }}
            </option>
        </select>
    </div>

    <div class="field">
        <label for="linkImagem">Link Imagem</label>
        <input type="text" name="linkImagem" ng-model="instrutorAtual.linkImagem" style="width:500px">
    </div>
    <input type="submit" class="ui button" value="Salvar">
</form>