<h1>Instrutores Cadastrados no Sistema</h1>
<hr>
<table class="table table-striped">
    <thead>
        <th>Imagem</th>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Dando Aula</th>
        <th>Aulas</th>
    </thead>
    <tbody>
        <tr ng-repeat="instrutor in instrutores | orderBy: 'nome'">
            <td><img src="{{ instrutor.urlFoto }}"></td>
            <td>{{ instrutor.id }}</td>
            <td>{{ instrutor.nome }}</td>
            <td>{{ instrutor.sobrenome }}</td>
            <td>{{ instrutor.idade }}</td>
            <td>{{ instrutor.email }}</td>
            <td>{{ instrutor.dandoAula }}</td>
            <td>
                <div ng-repeat="aula in instrutor.aula | orderBy: 'nome'">{{ getNomeAula(aula).nome }}</div>
            </td>
        </tr>
    </tbody>
</table>
<hr>