<!DOCTYPE html>
<html ng-app="aula02">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="js/angular.js"></script>
    <script src="js/controller.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form>
            <div class="form-group" ng-controller="Exercicio1">
                <h1><label for="idData">Inserir Data:</label></h1>
                <input type="text" id="idData" class="form-control" placeholder="dd.mm.aaaa" ng-model="dataInserida">
                <br>
                <input type="button" class="btn btn-default" value="Converter Data" ng-click="imprimirDataFormatada()">
                <h1><label>Data Convertida:</label>{{ dataObjeto | date:'dd/MM/yyyy' }}</h1>
            </div>
        </form>
    </div>
</body>

</html>