<div class="container">
    <div id="fh5co-portfolio">
        <div class="fh5co-portfolio-item ">
            <div class="fh5co-portfolio-figure animate-box"><img ng-src="{{ livro.Capa }}"></div>
            <div class="fh5co-portfolio-description">
                <h2>{{ livro.Titulo }}</h2>
                <p>{{ livro.Autor.Nome }}</p>
                <p>{{ livro.Descricao }}</p>
                <p>{{ livro.Genero }}</p>
                <p>{{ livro.DataPublicacao }}</p>
                <p><a href="#!/home" class="btn btn-primary">Home</a></p>
            </div>
        </div>
    </div>
</div>