<div id="fh5co-team">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <h2 class="section-lead text-center">Lançamentos</h2>
                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate" ng-repeat="lancamento in lancamentos">
                        <figure>
                            <img ng-src="{{ lancamento.Capa }}" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive" style="height:350px;">
                        </figure>
                        <div style="height:200px">
                            <h3>{{ lancamento.Titulo }}</h3>
                            <h3>{{ lancamento.ObterPorGenero }}</h3>
                            <h3>{{ lancamento.NomeAutor.Nome }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-team">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <h2 class="section-lead text-center">Livros Publicados</h2>
                    <div class="col-md-2 col-sm-20 col-xs-6 col-xxs-12 fh5co-staff to-animate" ng-repeat="livro in livrosFiltrados">
                        <figure>
                            <a href="#!/detalhamento/{{ livro.Isbn }}">
                                <img ng-src="{{ livro.Capa }}" alt="Free HTML5 Template by FREEHTML5.co" class="img-responsive" style="height:150px;">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="center">
    <ul uib-pagination ng-model="currentPage" total-items="quantidadeTotal" max-size="maxSize" boundary-links="true"></ul>
</div>

</div>



<!--<div class="center">
    <div class="pagination">
        <a href="#"><<</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#" class="active">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">>></a>
    </div>
</div>-->
