<form ng-submit="criar(novoExtra)">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" ng-model="novoExtra.nome" placeholder="Nome">
    </div>
    <div class="form-group">
        <label for="valor">Valor</label>
        <input type="text" class="form-control" id="valor" ng-model="novoExtra.valor" placeholder="Valor">
    </div>
    <div class="form-group">
        <label for="estoque">Estoque</label>
        <input type="text" class="form-control" id="estoque" ng-model="novoExtra.estoque" placeholder="Estoque">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

--------------------------------------------------------------------

<ul ng-repeat="extra in extras">
    <li>{{ extra.Id}} - {{ extra.Nome }} - {{ extra.Valor }} - {{ extra.Estoque }}</li>
</ul>

--------------------------------------------------------------------

<ul ng-repeat="extra in extras">
    <li>{{ extra.Id}} - {{ extra.Nome }} - {{ extra.Valor }} - {{ extra.Estoque }}</li>
    <input type="number" ng-model="alugar.Quantidade" placeholder="Quantidade">
    <button type="submit" class="btn btn-default" ng-click="alugar(extra.Id, alugar.Quantidade)">Alugar</button>
</ul>