--------------------------------------------------------------------

Criar
<br>
<label>Selecione o cliente</label>
<select class="form-control" ng-model="locacao.cliente" ng-options="cliente.Nome for cliente in clientes">
    <option value="">Selecione o cliente</option>
</select>
<br>
<label>Selecione o produto</label>
<select class="form-control" ng-model="locacao.produtoConsole" ng-options="produto.Nome for produto in produtos">
    <option value="">Selecione o Produto</option>
</select>
<br>
<label>Selecione o pacote</label>
<select class="form-control" ng-model="locacao.pacote" ng-options="pacote.Nome for pacote in pacotes">
    <option value="">Selecione o Pacote</option>
</select>
<br>
<label>Selecione o extra</label>
<select class="form-control" ng-model="locacao.extra" ng-options="extra.Nome for extra in extras">
    <option value="">Selecione o Extra</option>
</select>
<br>
<label>Valor Total:</label>
{{ locacao.produtoConsole.Valor + locacao.pacote.Valor + locacao.extra.Valor }}
<br>
<button type="submit" class="btn btn-default" ng-click="criar(locacao)">Submit</button>

<br>
--------------------------------------------------------------------

Devolver
<br>
<label>Selecione o pedido</label>
<select class="form-control" ng-model="locacao.pedido" ng-options="locacao.Id for locacao in locacoes">
    <option value="">Selecione o pedido</option>
</select>
<button type="submit" class="btn btn-default" ng-click="devolver(locacao)">Submit</button>
