<h3>Cadastrar Locação</h3>

<hr class="purpleHr">

<!-- INÍCIO SELEÇÃO CLIENTE -->
<form>
    <h3>Informe o Cliente</h3>
    <label>
    <input type="text" class="form-control" id="cpf" ng-model="cpfCliente" placeholder="CPF">
</label>
    <br>
    <div ng-if="cliente == null">Cliente não encontrado.</div>
    <button type="submit" class="btn btn-primary" ng-click="buscarPorCpf(cpfCliente)">Buscar</button>
    <br><br>
</form>

<!--<input type="radio" ng-value="cliente.Id" ng-model="locacao.cliente.Id" ng-hide="false" ng-checked="cliente.Id">-->
<input type="text" ng-value="cliente.Id" ng-hide="true" ng-disabled="true">

<label>Nome
    <input type"text" class="form-control" id="nome" ng-model="cliente.Nome" placeholder="Nome"  ng-disabled="true">
</label>

<label>CPF
    <input type"text" class="form-control" id="cpf" ng-model="cliente.CPF" placeholder="CPF"  ng-disabled="true">
</label>

<label>Data Nascimento
    <input type"text" class="form-control" id="dataNascimento" ng-model="cliente.DataNascimento | date: 'dd/MM/yyyy'" placeholder="Data Nascimento"  ng-disabled="true">
</label>

<label>Endereço
    <input type"text" class="form-control" id="endereco" ng-model="cliente.Endereco" placeholder="Endereço"  ng-disabled="true">
</label>

<br><br>
<button type="submit" class="btn btn-default" ng-click="limpar()">Limpar</button>
<!-- FIM SELEÇÃO CLIENTE -->

<!-- INÍCIO SELEÇÃO DE PRODUTO -->
<!--<div class="container">-->
<h3>Selecione o Produto</h3>
<hr class="purpleHr">
<div class="inputRadioImagem">
    <div class="form-group">
        <input type="radio" name="console" id="ps3" ng-value="1" ng-model="locacao.produtoConsole.Id" ng-click="obterValorProduto(1)">
        <label for="ps3">
            <h4>PS3</h4>
            <div class="fixed">
                <img class="console" src="images/console/ps3.png" alt="PS3">
            </div>
        </label>

        <input type="radio" name="console" id="snes" ng-value="2" ng-model="locacao.produtoConsole.Id" ng-click="obterValorProduto(2)">
        <label for="snes">
            <h4>SNES</h4>
            <div class="fixed">
                <img class="console" src="images/console/snes.png" alt="SNES">
            </div>
        </label>

        <input type="radio" name="console" id="xbox360" ng-value="3" ng-model="locacao.produtoConsole.Id" ng-click="obterValorProduto(3)">
        <label for="xbox360">
            <h4>XBOX360</h4>
            <div class="fixed">
                <img class="console" src="images/console/xbox360.png" alt="XBOX360">
            </div>
        </label>

        <input type="radio" name="console" id="atari" ng-value="4" ng-model="locacao.produtoConsole.Id" ng-click="obterValorProduto(4)">
        <label for="atari">
            <h4>ATARI</h4>
            <div class="fixed">
                <img class="console" src="images/console/atari.png" alt="ATARI">
            </div>
        </label>
    </div>
</div>
<!--</div>-->
<!-- FIM SELEÇÃO DE PRODUTO -->

<!-- INÍCIO SELEÇÃO DE PACOTE -->
<!--<div class="container">-->
<h3>Selecione o Pacote</h3>
<hr class="purpleHr">
<div class="inputRadioImagem">
    <div class="form-group">
        <input type="radio" name="pacote" id="diario" ng-value="1" ng-model="locacao.pacote.Id" ng-click="obterValorPacote(1)">
        <label for="diario">
            <h4>Diário</h4>
            <div class="fixed">
                <img class="extra" src="images/pacote/pacote.png" alt="Pacote Diário">
            </div>
        </label>

        <input type="radio" name="pacote" id="finde" ng-value="2" ng-model="locacao.pacote.Id" ng-click="obterValorPacote(2)">
        <label for="finde">
            <h4>Fim de Semana</h4>
            <div class="fixed">
                <img class="extra" src="images/pacote/pacote.png" alt="Pacote Finde">
            </div>
        </label>

        <input type="radio" name="pacote" id="semanal" ng-value="3" ng-model="locacao.pacote.Id" ng-click="obterValorPacote(3)">
        <label for="semanal">
            <h4>Semanal</h4>
            <div class="fixed">
                <img class="extra" src="images/pacote/pacote.png" alt="Pacote Semanal">
            </div>
        </label>
    </div>
</div>
<!--</div>-->
<!-- FIM SELEÇÃO DE PACOTE -->

<!-- INÍCIO SELEÇÃO DE EXTRA -->
<!--<div class="container">-->
<h3>Selecione um Extra</h3>
<hr class="purpleHr">
<div class="inputRadioImagem">
    <div class="form-group">
        <input type="radio" name="extra" id="jogo" value="1" ng-model="locacao.Extra">
        <label for="jogo">
            <h4>Jogo</h4>
            <div class="fixed">
                <img class="extra" src="images/extra/jogo.png" alt="Jogo">
            </div>
        </label>

        <input type="radio" name="extra" id="memoryCard" value="2" ng-model="locacao.Extra">
        <label for="memoryCard">
            <h4>Memory Card</h4>
            <div class="fixed">
                <img class="extra" src="images/extra/memoryCard.png" alt="MemoryCard">
            </div>
        </label>

        <input type="radio" name="extra" id="controle" value="3" ng-model="locacao.Extra">
        <label for="controle">
            <h4>Controle</h4>
            <div class="fixed">
                <img class="extra" src="images/extra/controle.png" alt="Controle">
            </div>
        </label>

        <input type="radio" name="extra" id="guia" value="4" ng-model="locacao.Extra">
        <label for="guia">
            <h4>Guia de Cheat</h4>
            <div class="fixed">
                <img class="extra" src="images/extra/guiaCheat.png" alt="Guia de Cheat">
            </div>
        </label>
    </div>
</div>
<!--</div>-->
<!-- FIM SELEÇÃO DE EXTRA -->

<br>
<label>Valor Total:</label> {{ valorTotal }}
<br>

<br><br>
<button type="submit" id="botao" class="btn btn-primary" ng-click="criar(locacao)">Cadastrar</button>
<br><br>

<!--
Criar
<br>
<label>Selecione o cliente</label>
<select class="form-control" ng-model="locacao.cliente" ng-options="cliente.Nome for cliente in clientes">
    <option value="">Selecione o cliente</option>
</select>
<br>
<label>Selecione o produto</label>
<select class="form-control" ng-model="locacao.produtoConsole" ng-options="produto.Nome for produto in produtos">
    <option value="">Selecione o Produto</option>
</select>
<br>
<label>Selecione o pacote</label>
<select class="form-control" ng-model="locacao.pacote" ng-options="pacote.Nome for pacote in pacotes">
    <option value="">Selecione o Pacote</option>
</select>
<br>
<label>Selecione o extra</label>
<select class="form-control" ng-model="locacao.extra" ng-options="extra.Nome for extra in extras">
    <option value="">Selecione o Extra</option>
</select>
<br>
<label>Valor Total:</label> {{ locacao.produtoConsole.Valor + locacao.pacote.Valor + locacao.extra.Valor }}
<br>
<button type="submit" class="btn btn-default" ng-click="criar(locacao)">Submit</button>

<br> Devolver
<br>
<label>Selecione o pedido</label>
<select class="form-control" ng-model="locacao.pedido" ng-options="locacao.Id for locacao in locacoes">
    <option value="">Selecione o pedido</option>
</select>
<button type="submit" class="btn btn-default" ng-click="devolver(locacao)">Submit</button>
-->